.page-header a h1 {
  color: #555;
}

.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}

html, body {
  margin: 20px;
}

.list-wrapper {
  margin-left: 0;
  maring-right: 0;
}

.push-down-m {
  margin-top: 50px;
}

.songs .rating {
  color: #aaa;
  font-size: 1.1em;
}
