{{!-- The following component displays Ember's default welcome message. --}}

<ul>
  {{#each songs.sortedContent as |song|}}
    <li>{{song.title}} by {{song.band}} ({{song.raging}})</li>
  {{/each}}
</ul>
{{outlet}}
