<div calss="row">
  <ul class="list-group songs">
    <li calss="list-group-item">
      {{input type="text" class="new-song" placeholder="New song" value=title}}
      <button class="btn btn-primary btn-sm new-song-buitton" {{action "createSong"}}>
        Add
      </button>
    </li>
    {{#each model.songs as |song|}}
      <li class="list-group-item song">
        {{song.title}}
        {{star-rating item=song rating=song.rating setAction="updateRating"}}
      </li>
    {{/each}}
  </ul>
</div>
