@mixin full_size {
  width: 800px;
  height: 800px;
}

.woolworths-bag-price-tag {
  @include full_size;
  &-original {
    @include full_size;
    float: left;
    &:hover {
      background-image: url("./images/woolworths-bag-price-tag.jpg");
    }
  }
  &-in-css {
    color: #5b923b;
    font-family: arial;
    text-align: center;
    position: relative;
    .tag {
      position: absolute;
      border: 1px solid #b7b7b7;
      margin: 25px 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 800px - 80px;
      height: 800px - 50px;
      background-color: white;
    }
    .hole {
      border: 1px solid #b7b7b7;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-top: 40px;
    }
    .price {
      color: #040500;
      margin-top: 13px;
      font-size: 311px;
      position: relative;
    }
    .cents {
      font-size: 45px;
      display: block;
      position: absolute;
      top: 24px;
      font-weight: 900;
      font-size: 140px;
      right: -58px;
    }
    .title {
      font-size: 100px;
      font-weight: 900;
      letter-spacing: -4px;
      position: relative;
      padding-right: 25px;
      margin-top: -25px;
    }
    .tm {
      font-size: 45px;
      display: block;
      position: absolute;
      top: 12px;
      right: -18px;
      font-weight: 100;
    }
    .tagline {
      margin-top: 25px;
      font-size: 45px;
      font-weight: 900;
      letter-spacing: -3px;
    }
  }
}
.metal {
  height: 800px;
  width: 800px;
  
  background-color: hsl(0,0%,90%);
  &.linear {
    background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
      -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
      -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
      
      linear-gradient(180deg, hsl(0,0%,78%)  0%, 
      hsl(0,0%,90%) 47%, 
      hsl(0,0%,78%) 53%,
      hsl(0,0%,70%)100%);
  }
  &.hole {
    background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 75%),
      -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 45%),
      -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 22%),
      
      linear-gradient(180deg, hsl(0,0%,78%)  0%, 
      hsl(0,0%,90%) 100%); 
  }
}
