.contactArea {
  background: #666;
  color: #fff;
  text-align: right;
}

.contactColumn {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}

.logo {
  text-align: left;
}

.logo img {
  width: 25%;
  margin: 10px 0;
}

.navigation {
  background: #ffc400;
  text-align: right;
  padding: 10px 0;
  font-weight: bold;
}

.navigation a {
  color: #000;
  padding: 5px;
  border: 2px solid #000;
}

.mastHead {
  height: 450px;
  overflow: hidden;
  background: #ffc400;
  color: #000;
}

.mastHead h1,.mastHead h2,.mastHead h3,.mastHead h4,.mastHead h5, .mastHead h6 {
  color: #000;
}

ul.store-badges {
  list-style: none;
}
ul.store-badges li a, .store-badges a {
  display: inline-block;
  background: url(../images/store-badges-70x245png) no-repeat 0 0 #fff;
  width: 245px;
  height: 70px;
  border-radius: 4px;
}

.store-badges a.store-ios { background-position: 0 0; }
.store-badges a.store-android { background-position: 0 -70px; }
.store-badges a.store-winphone { background-position: 0 -140px; }

.mastHeadImage {
  background: url("../images/android-device.png") no-repeat;
  background-size: cover;
  background-position: 0 15px;
}
